name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
          cache: true

      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.1
          args: ./...

      - name: Test with Coverage
        run: |
          go mod tidy
          go test -v -race -coverpkg=./... ./...
